.video-container{
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    box-sizing: border-box;

    // video-overlay
    .video-overlay{
        display: flex;
        height: 99%;
        width: 99%;
        position: relative;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        z-index: 10;
        box-sizing: border-box;
        background-color: rgb(0, 0, 0,0.5);

        // video
        #video{
            width: 80%;
            height: 80%;
            z-index: 999;
        }

        // content
        .content {
            position: fixed;
            bottom: -100%;
            background: rgba(0, 0, 0, 0.9);
            color: #f1f1f1;
            width: 90%;
            padding: 20px;
            z-index: 1000;
            animation: slideIn 0.5s ease 3s forwards;
        }
    }
    #quitVideo{
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 1000;
        cursor: pointer;
        background-color: white;
    }
}

@keyframes slideIn {
    from {
        bottom: -100%;
    }
    to {
        bottom: 10px;
    }
}