@use './layout/header';

@import "./base/variables";
@import "./views/video_styles.scss";
@import "./bootstrap_fixes/bootstrap_fixes";
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    margin: 0;
    height: 100%;
    min-width: 400px;
}

body.dark-theme *{
    background-color: #1a1a1a !important;
    color: #ffffff !important;

    &::placeholder {
        color: #b3b3b3 !important;
    }

    &.btn-close{
        background-color: white !important;
    }

    &.breadcrumb-item::before{
        color: white;
    }

}

#modeSwitcher {
    cursor: pointer;
}
