@use './layout/header';

@import "./base/variables";
@import "./views/video_styles.scss";
@import "./bootstrap_fixes/bootstrap_fixes";
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    margin: 0;
    height: 100%;
    min-width: 400px;
}
