/*---------------------------------------------------------------------
Project: Tienda de jabones
Version: 1.0
Last change: 16.11.2023
Assigned to: Pablo Calvo Jiménez

Component: main

[Table of contents]

1. body
2. body.no-sidebar
    - sidebar-container
    - main-content-container
3. layout-grid
    - [MEDIA QUERY]
4. video-container
    - video-overlay
        - video
        - content
    - i
[ANIMACION]: SlideIn

---------------------------------------------------------------------*/
@use './layout/header';
@import "./base/variables";
@import "./bootstrap_fixes/bootstrap_fixes";
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    margin: 0;
    height: 100%;
    min-width: 400px;
}

.active {
    color: white;
    border-bottom: 1px solid white;
    
}







/*
.btn-primary{
    background-color: #263740;
    border: #263740;
    &:hover{
        background-color: #1f2528;
    }
}
*/