$primary: #263740;
$success: #39525f;
$danger: #dc3545;
$secondary: #2e3c44;
$info: #5f727c;

$theme-colors: (
    "primary": $primary,
    "danger": $danger,
    "success": $success,
    "secondary": $secondary,
    "info": $info,
);

